### Loading dataset

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
trainset = pd.read_csv("/content/drive/MyDrive/Data Science_Final Project/UNSW_NB15_training.csv")
testset = pd.read_csv("/content/drive/MyDrive/Data Science_Final Project/UNSW_NB15_testing.csv")

In [ ]:
print("The size of trainset:",trainset.shape)
print("The size of testset:",testset.shape)

The size of trainset: (175341, 45)
The size of testset: (82332, 45)

In [ ]:
trainset.columns

Index(['id', 'dur', 'proto', 'service', 'state', 'spkts', 'dpkts', 'sbytes',
       'dbytes', 'rate', 'sttl', 'dttl', 'sload', 'dload', 'sloss', 'dloss',
       'sinpkt', 'dinpkt', 'sjit', 'djit', 'swin', 'stcpb', 'dtcpb', 'dwin',
       'tcprtt', 'synack', 'ackdat', 'smean', 'dmean', 'trans_depth',
       'response_body_len', 'ct_srv_src', 'ct_state_ttl', 'ct_dst_ltm',
       'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm',
       'is_ftp_login', 'ct_ftp_cmd', 'ct_flw_http_mthd', 'ct_src_ltm',
       'ct_srv_dst', 'is_sm_ips_ports', 'attack_cat', 'label'],
      dtype='object')

In [ ]:
trainset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175341 entries, 0 to 175340
Data columns (total 45 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 175341 non-null  int64
 1   dur                175341 non-null  float64
 2   proto              175341 non-null  object
 3   service            175341 non-null  object
 4   state              175341 non-null  object
 5   spkts              175341 non-null  int64
 6   dpkts              175341 non-null  int64
 7   sbytes             175341 non-null  int64
 8   dbytes             175341 non-null  int64
 9   rate               175341 non-null  float64
 10  sttl               175341 non-null  int64
 11  dttl               175341 non-null  int64
 12  sload              175341 non-null  float64
 13  dload              175341 non-null  float64
 14  sloss              175341 non-null  int64
 15  dloss              175341 non-null  int64
 16  sinpkt             175341 non-null  float64
 17  dinpkt             175341 non-null  float64
 18  sjit               175341 non-null  float64
 19  djit               175341 non-null  float64
 20  swin               175341 non-null  int64
 21  stcpb              175341 non-null  int64
 22  dtcpb              175341 non-null  int64
 23  dwin               175341 non-null  int64
 24  tcprtt             175341 non-null  float64
 25  synack             175341 non-null  float64
 26  ackdat             175341 non-null  float64
 27  smean              175341 non-null  int64
 28  dmean              175341 non-null  int64
 29  trans_depth        175341 non-null  int64
 30  response_body_len  175341 non-null  int64
 31  ct_srv_src         175341 non-null  int64
 32  ct_state_ttl       175341 non-null  int64
 33  ct_dst_ltm         175341 non-null  int64
 34  ct_src_dport_ltm   175341 non-null  int64
 35  ct_dst_sport_ltm   175341 non-null  int64
 36  ct_dst_src_ltm     175341 non-null  int64
 37  is_ftp_login       175341 non-null  int64
 38  ct_ftp_cmd         175341 non-null  int64
 39  ct_flw_http_mthd   175341 non-null  int64
 40  ct_src_ltm         175341 non-null  int64
 41  ct_srv_dst         175341 non-null  int64
 42  is_sm_ips_ports    175341 non-null  int64
 43  attack_cat         175341 non-null  object
 44  label              175341 non-null  int64
dtypes: float64(11), int64(30), object(4)
memory usage: 60.2+ MB

In [ ]:
testset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82332 entries, 0 to 82331
Data columns (total 45 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 82332 non-null  int64
 1   dur                82332 non-null  float64
 2   proto              82332 non-null  object
 3   service            82332 non-null  object
 4   state              82332 non-null  object
 5   spkts              82332 non-null  int64
 6   dpkts              82332 non-null  int64
 7   sbytes             82332 non-null  int64
 8   dbytes             82332 non-null  int64
 9   rate               82332 non-null  float64
 10  sttl               82332 non-null  int64
 11  dttl               82332 non-null  int64
 12  sload              82332 non-null  float64
 13  dload              82332 non-null  float64
 14  sloss              82332 non-null  int64
 15  dloss              82332 non-null  int64
 16  sinpkt             82332 non-null  float64
 17  dinpkt             82332 non-null  float64
 18  sjit               82332 non-null  float64
 19  djit               82332 non-null  float64
 20  swin               82332 non-null  int64
 21  stcpb              82332 non-null  int64
 22  dtcpb              82332 non-null  int64
 23  dwin               82332 non-null  int64
 24  tcprtt             82332 non-null  float64
 25  synack             82332 non-null  float64
 26  ackdat             82332 non-null  float64
 27  smean              82332 non-null  int64
 28  dmean              82332 non-null  int64
 29  trans_depth        82332 non-null  int64
 30  response_body_len  82332 non-null  int64
 31  ct_srv_src         82332 non-null  int64
 32  ct_state_ttl       82332 non-null  int64
 33  ct_dst_ltm         82332 non-null  int64
 34  ct_src_dport_ltm   82332 non-null  int64
 35  ct_dst_sport_ltm   82332 non-null  int64
 36  ct_dst_src_ltm     82332 non-null  int64
 37  is_ftp_login       82332 non-null  int64
 38  ct_ftp_cmd         82332 non-null  int64
 39  ct_flw_http_mthd   82332 non-null  int64
 40  ct_src_ltm         82332 non-null  int64
 41  ct_srv_dst         82332 non-null  int64
 42  is_sm_ips_ports    82332 non-null  int64
 43  attack_cat         82332 non-null  object
 44  label              82332 non-null  int64
dtypes: float64(11), int64(30), object(4)
memory usage: 28.3+ MB

In [ ]:
trainset.head()

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1,0.121478,tcp,-,FIN,6,4,258,172,74.087490,...,1,1,0,0,0,1,1,0,Normal,0
1,2,0.649902,tcp,-,FIN,14,38,734,42014,78.473372,...,1,2,0,0,0,1,6,0,Normal,0
2,3,1.623129,tcp,-,FIN,8,16,364,13186,14.170161,...,1,3,0,0,0,2,6,0,Normal,0
3,4,1.681642,tcp,ftp,FIN,12,12,628,770,13.677108,...,1,3,1,1,0,2,1,0,Normal,0
4,5,0.449454,tcp,-,FIN,10,6,534,268,33.373826,...,1,40,0,0,0,2,39,0,Normal,0

In [ ]:
testset.head()

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1,0.000011,udp,-,INT,2,0,496,0,90909.0902,...,1,2,0,0,0,1,2,0,Normal,0
1,2,0.000008,udp,-,INT,2,0,1762,0,125000.0003,...,1,2,0,0,0,1,2,0,Normal,0
2,3,0.000005,udp,-,INT,2,0,1068,0,200000.0051,...,1,3,0,0,0,1,3,0,Normal,0
3,4,0.000006,udp,-,INT,2,0,900,0,166666.6608,...,1,3,0,0,0,2,3,0,Normal,0
4,5,0.000010,udp,-,INT,2,0,2126,0,100000.0025,...,1,3,0,0,0,2,3,0,Normal,0

In [ ]:
target_train = trainset["attack_cat"].unique()
for i in range(len(target_train)):
  print(target_train[i],trainset[trainset["attack_cat"] == target_train[i]].shape[0])

Normal 56000
Backdoor 1746
Analysis 2000
Fuzzers 18184
Shellcode 1133
Reconnaissance 10491
Exploits 33393
DoS 12264
Worms 130
Generic 40000

In [ ]:
target_test = testset["attack_cat"].unique()
for i in range(len(target_test)):
  print(target_test[i],testset[testset["attack_cat"] == target_test[i]].shape[0])

Normal 37000
Reconnaissance 3496
Backdoor 583
DoS 4089
Exploits 11132
Analysis 677
Fuzzers 6062
Worms 44
Shellcode 378
Generic 18871

### Preprocessing the data

In [ ]:
# Preparing training and testing dataset with normal and other six categories attack activities
x_train = trainset[~trainset["attack_cat"].isin(["Backdoor", "Analysis", "Shellcode", "Worms"])]
x_train["attack_cat"].unique() # six categories
y_train = x_train["attack_cat"]
x_train = x_train.drop(["id","proto","attack_cat","label"], axis=1) # proto has 130 differents name

x_test = testset[~testset["attack_cat"].isin(["Backdoor", "Analysis", "Shellcode", "Worms"])]
y_test = x_test["attack_cat"]
x_test = x_test.drop(["id","proto","attack_cat","label"], axis=1)

In [ ]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
y_train = label_encoder.fit_transform(y_train).reshape(len(y_train),1)
y_test = label_encoder.fit_transform(y_test).reshape(len(y_test),1)

In [ ]:
categorical_columns = ["service", "state"] # non-numeriacl value

In [ ]:
# one-hot encoding
train_dummy = pd.get_dummies(x_train[categorical_columns], drop_first=True)
test_dummy = pd.get_dummies(x_test[categorical_columns], drop_first=True)


train_dummy, test_dummy = train_dummy.align(test_dummy, join='outer', axis=1, fill_value=0)

In [ ]:
x_train = x_train.drop(categorical_columns, axis=1)
x_train = x_train.merge(train_dummy, left_index=True, right_index=True).astype('int32')

x_test = x_test.drop(categorical_columns, axis=1)
x_test = x_test.merge(test_dummy, left_index=True, right_index=True).astype('int32')

x_train.shape[1]

61

In [ ]:
# standardization
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

### Modeling

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf

from tensorflow.keras import layers, models
from tensorflow.keras.models import Model
from tensorflow.keras.layers import LSTM, Bidirectional, Dropout, Dense, Flatten, Reshape

In [ ]:
class Autoencoder(Model):
  def __init__(self, latent_dim, input_dim):
    super(Autoencoder, self).__init__()
    self.latent_dim = latent_dim
    self.input_dim = input_dim
    self.encoder = tf.keras.Sequential([
      #layers.Flatten(input_shape=(input_dim,)),
      layers.Dense(128, activation='relu'),
      layers.Dropout(0.3),
      layers.Dense(64, activation='relu'),
      layers.Dropout(0.3),
      layers.Dense(latent_dim, activation='relu'),
    ])
    self.decoder = tf.keras.Sequential([
      layers.Dense(128, activation='relu'),
      layers.Dropout(0.3),
      layers.Dense(64, activation='relu'),
      layers.Dropout(0.3),
      layers.Dense(input_dim, activation='sigmoid')
    ])

  def call(self, x):
    encoded = self.encoder(x)
    decoded = self.decoder(encoded)
    return decoded


input_dim = x_train.shape[1]
latent_dim = 64
autoencoder = Autoencoder(latent_dim, input_dim)

In [ ]:
autoencoder.compile(optimizer='adam', loss='mse')

In [ ]:
batch_size = 32
autoencoder.fit(x_train, x_train,
        epochs=5,
        batch_size=batch_size,
        shuffle=True,
        validation_data=(x_test, x_test))

Epoch 1/5
5323/5323 [==============================] - 33s 5ms/step - loss: 0.0064 - val_loss: 0.0042
Epoch 2/5
5323/5323 [==============================] - 27s 5ms/step - loss: 0.0027 - val_loss: 0.0034
Epoch 3/5
5323/5323 [==============================] - 26s 5ms/step - loss: 0.0022 - val_loss: 0.0031
Epoch 4/5
5323/5323 [==============================] - 29s 5ms/step - loss: 0.0020 - val_loss: 0.0027
Epoch 5/5
5323/5323 [==============================] - 28s 5ms/step - loss: 0.0017 - val_loss: 0.0025

In [ ]:
# bottleneck feature
bottleneck_model = Model(inputs=autoencoder.encoder.input, outputs=autoencoder.encoder.output)

train_bottleneck = bottleneck_model.predict(x_train)
test_bottleneck = bottleneck_model.predict(x_test)

5323/5323 [==============================] - 9s 2ms/step
2521/2521 [==============================] - 3s 1ms/step

In [ ]:
# reshape the size meeting the cnn
train_bottleneck = train_bottleneck.reshape((train_bottleneck.shape[0], train_bottleneck.shape[1], 1))
test_bottleneck = test_bottleneck.reshape((test_bottleneck.shape[0], test_bottleneck.shape[1], 1))

In [ ]:
train_bottleneck.shape

(170332, 64, 1)

In [ ]:
# cnn
model = models.Sequential()
model.add(layers.Conv1D(64, 11, activation='relu', input_shape= (train_bottleneck.shape[1],1)))
model.add(layers.MaxPooling1D(pool_size= 2))
model.add(layers.Conv1D(64, 9, activation='relu'))
model.add(layers.Conv1D(32, 7, activation='relu'))
model.add(layers.Conv1D(32, 5, activation='relu'))

model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d (Conv1D)             (None, 54, 64)            768

 max_pooling1d (MaxPooling1  (None, 27, 64)            0
 D)

 conv1d_1 (Conv1D)           (None, 19, 64)            36928

 conv1d_2 (Conv1D)           (None, 13, 32)            14368

 conv1d_3 (Conv1D)           (None, 9, 32)             5152

=================================================================
Total params: 57216 (223.50 KB)
Trainable params: 57216 (223.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
# bidirectional lstm
model.add(Reshape((1, -1)))

model.add(Bidirectional(LSTM(64, return_sequences=True)))
model.add(Dropout(0.2))
model.add(Bidirectional(LSTM(32)))

model.add(Dense(6, activation='softmax'))
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d (Conv1D)             (None, 54, 64)            768

 max_pooling1d (MaxPooling1  (None, 27, 64)            0
 D)

 conv1d_1 (Conv1D)           (None, 19, 64)            36928

 conv1d_2 (Conv1D)           (None, 13, 32)            14368

 conv1d_3 (Conv1D)           (None, 9, 32)             5152

 reshape (Reshape)           (None, 1, 288)            0

 bidirectional (Bidirection  (None, 1, 128)            180736
 al)

 dropout_4 (Dropout)         (None, 1, 128)            0

 bidirectional_1 (Bidirecti  (None, 64)                41216
 onal)

 dense_6 (Dense)             (None, 6)                 390

=================================================================
Total params: 279558 (1.07 MB)
Trainable params: 279558 (1.07 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [ ]:
model.fit(train_bottleneck, y_train, epochs=10, batch_size=256, validation_data=(test_bottleneck, y_test))

Epoch 1/10
666/666 [==============================] - 10s 14ms/step - loss: 0.4915 - accuracy: 0.7908 - val_loss: 0.5743 - val_accuracy: 0.7256
Epoch 2/10
666/666 [==============================] - 8s 12ms/step - loss: 0.4880 - accuracy: 0.7917 - val_loss: 0.5610 - val_accuracy: 0.7254
Epoch 3/10
666/666 [==============================] - 9s 14ms/step - loss: 0.4854 - accuracy: 0.7932 - val_loss: 0.5748 - val_accuracy: 0.7260
Epoch 4/10
666/666 [==============================] - 9s 14ms/step - loss: 0.4839 - accuracy: 0.7935 - val_loss: 0.5737 - val_accuracy: 0.7162
Epoch 5/10
666/666 [==============================] - 9s 14ms/step - loss: 0.4829 - accuracy: 0.7938 - val_loss: 0.5436 - val_accuracy: 0.7454
Epoch 6/10
666/666 [==============================] - 9s 13ms/step - loss: 0.4812 - accuracy: 0.7952 - val_loss: 0.5903 - val_accuracy: 0.7096
Epoch 7/10
666/666 [==============================] - 8s 12ms/step - loss: 0.4780 - accuracy: 0.7954 - val_loss: 0.5558 - val_accuracy: 0.7381
Epoch 8/10
666/666 [==============================] - 8s 13ms/step - loss: 0.4798 - accuracy: 0.7947 - val_loss: 0.5789 - val_accuracy: 0.7233
Epoch 9/10
666/666 [==============================] - 9s 13ms/step - loss: 0.4764 - accuracy: 0.7961 - val_loss: 0.5840 - val_accuracy: 0.7138
Epoch 10/10
666/666 [==============================] - 8s 12ms/step - loss: 0.4747 - accuracy: 0.7967 - val_loss: 0.5613 - val_accuracy: 0.7321